@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Macondo&display=swap');

/* CSS Variables */

/* Navigation */
#navbar {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#navbar a {
    color: var(--primary-color);
}

#navbar .nav-link {
    color: var(--primary-color);
}

#navbar .nav-link:hover {
    color: var(--highlight-color);
}

#navbar .active {
    text-decoration: underline;
}

main {
    flex: 1 0 auto;
    margin-top: 47px;
}

/* Header */
.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.2)), url('assets/css/images/house-coast-cliff-sea-shore-path-grass-plants-cabin-sea-clou-webp') left center/cover no-repeat scroll;
    padding: 8rem 0;
}

.hero h1 {
    color: #fff;
}

.hero p {
    color: #fff;
}

